@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Probably Friends!</h1>

    @foreach(string friendName in Model.FriendNames)
    {
        <p>@friendName</p>
    }

</div>
